@using MudBlazor;
@using SteakGrillingGuide.Components
@using SteakGrillingGuide.Data;
@using SteakGrillingGuide.Extensions;
@using Plugin.LocalNotification;
@using System.Diagnostics;
@using System.Text.Json;
@inject IDialogService DialogService
@inject SteakProvider SteakProvider
@inject ISnackbar Snackbar;
@page "/"

<div class="row mb-3 border-bottom border-dark pb-3">
    <div class="col-3">
        <MudButton Variant="Variant.Outlined" Color="Color.Default" Disabled="(Timer != null && Timer.Enabled)" @onclick="OpenSteakDialog">
            <MudIcon Icon="@Icons.Material.Outlined.Add" Title="Add" />
        </MudButton>
    </div>
    <div class="col-6 text-center align-content-center justify-content-center">
        @if (Steaks.Any())
        {
            <div>
                Grill Time: @($"{Minutes:0}:{Seconds:00}")
            </div>
        }
    </div>
    <div class="col-3 text-end">
        <MudButton Variant="Variant.Outlined" Color="Color.Success" Disabled="(Steaks== null || !Steaks.Any() || (Timer != null && Timer.Enabled))" @onclick="OpenStartDialog">
            <MudIcon Icon="@Icons.Material.Outlined.Timer" Title="Timer" />
        </MudButton>
    </div>
</div>
@if (Steaks.Any())
{
    <MudExpansionPanels MultiExpansion="true">
        @foreach (var steak in Steaks)
        {
            <SteakSummary SteakToCook="steak" Counter="counter" LongestTime="LongestTime" EditSteak="OnSteakEdited" DeleteSteak="OnSteakDeleted" />
        }
    </MudExpansionPanels>
}
else
{
    <div>
        No steaks added yet.
    </div>
}


@code {
    private List<Steak> Steaks { get; set; } = new();
    private List<Steak> PlaceSteakNotifications { get; set; } = new();
    private List<Steak> FlipSteakNotifications { get; set; } = new();
    private List<SteakSettings> Settings { get; set; }
    private RecoveryData? RecoveryData { get; set; }
    private int LongestTime { get; set; }
    private int counter { get; set; } = 60;
    private int Minutes { get; set; } = 0;
    private int Seconds { get; set; } = 0;
    private bool IgnoreInfoDialog = false;
    private bool NotificationDialogShown = false;
    private bool RecoveringFromClose = false;
    private EventCallback<Steak> OnSteakAdded { get; set; }
    private EventCallback<Steak> OnSteakEdited { get; set; }
    private EventCallback<Steak> OnSteakDeleted { get; set; }
    private EventCallback<bool> OnRestored { get; set; }
    private EventCallback OnTimerStarted { get; set; }
    private IDialogReference NotificationDialog { get; set; } = null;

    private static System.Timers.Timer Timer { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Settings = SteakProvider.SteakSettings;
        OnSteakAdded = new EventCallback<Steak>(this, (Steak steak) => HandleSteakAdded(steak));
        OnSteakEdited = new EventCallback<Steak>(this, (Steak steak) => HandleSteakEdited(steak));
        OnSteakDeleted = new EventCallback<Steak>(this, (Steak steak) => HandleSteakDeleted(steak));
        OnRestored = new EventCallback<bool>(this, (bool restore) => HandleSteakRestore(restore));
        OnTimerStarted = new EventCallback(this, () => StartTimer());
        await HandleRecoveryNeeded();
        if (!RecoveringFromClose)
        {
            await DisplayInfoDialog();
        }
    }

    private async Task HandleRecoveryNeeded()
    {

        string storedRecovery = await SecureStorage.Default.GetAsync("ExistingGrillData");
        if (!string.IsNullOrWhiteSpace(storedRecovery))
        {
            RecoveryData = JsonSerializer.Deserialize<RecoveryData>(storedRecovery);
            var options = new DialogOptions { DisableBackdropClick = true };
            var parameters = new DialogParameters { ["BeforeFinish"] = RecoveryData.FinishesAt > DateTime.Now, ["HandleDecision"] = OnRestored };
            DialogService.Show<AppCrashedDialog>("Restore?", parameters, options);

        }
    }

    private async Task DisplayInfoDialog()
    {
        string GetWarningSet = await SecureStorage.Default.GetAsync("IgnoreInfoDialog");
        if (GetWarningSet != null)
        {
            IgnoreInfoDialog = bool.TryParse(GetWarningSet, out IgnoreInfoDialog);
        }

        if (!IgnoreInfoDialog)
        {
            DialogService.Show<AppInfoDialog>();
        }
    }

    private void UpdateTimingInfo()
    {
        if (Steaks.Any())
        {
            LongestTime = Steaks.Max(i => i.DurationSetting.TotalTime);
            counter = LongestTime;
            foreach (var steak in Steaks)
            {
                steak.SetStartTimes(LongestTime);
            }
        }
        else
        {
            LongestTime = 0;
            counter = 0;
        }

        RemainingToMinuteSecond();
    }

    private async Task HandleSteakAdded(Steak addedSteak)
    {
        if (string.IsNullOrWhiteSpace(addedSteak.Name))
        {
            addedSteak.Name = $"Steak {Steaks.Count + 1}";
        }

        if(!Steaks.Any(i => i == addedSteak))
        {
            Steaks.Add(addedSteak);
        }

        UpdateTimingInfo();

        StateHasChanged();
    }


    private async Task HandleSteakEdited(Steak steakToEdit)
    {
        var options = new DialogOptions { DisableBackdropClick = true, FullWidth = true };
        var parameters = new DialogParameters { ["AddSteak"] = OnSteakAdded, ["Steak"] = steakToEdit };
        DialogService.Show<UpsertSteakDialog>("Steak", parameters, options);
        StateHasChanged();
    }

    private async Task HandleSteakDeleted(Steak steakToDelete)
    {
        Steaks.Remove(steakToDelete);
        UpdateTimingInfo();
        StateHasChanged();
    }

    private async Task StartTimer()
    {
        if (Timer == null || !Timer.Enabled)
        {
            DateTime startFrom;
            if(RecoveryData != null)
            {
                startFrom = RecoveryData.FinishesAt.AddSeconds(RecoveryData.Steaks.Max(x => x.DurationSetting.TotalTime) * -1);
            }
            else
            {
                startFrom = DateTime.Now;
            }
            var notificationsEnabled = await LocalNotificationCenter.Current.AreNotificationsEnabled();
            if (notificationsEnabled)
            {
                foreach(var steak in Steaks.Where(i => i.FirstSideStartTime == LongestTime))
                {
                    steak.StartNotificationShown = true;
                }

                int notificationId = 1;

                foreach (var startTime in Steaks.GroupBy(i => i.FirstSideStartTime).Where(i => i.Key != LongestTime))
                {
                    var applySteakRequest = new NotificationRequest
                        {
                            NotificationId = notificationId,
                            Title = $"Steaks ready for the grill!",
                            Subtitle = $"{string.Join(", ", startTime.Select(x => x.Name))} is ready to be placed on the grill",
                            BadgeNumber = 1,
                            Schedule = new NotificationRequestSchedule
                            {
                                NotifyTime = startFrom.AddSeconds(LongestTime - startTime.Key)
                            }
                        };
                    notificationId++;
                    await LocalNotificationCenter.Current.Show(applySteakRequest);
                }

                foreach (var flipTime in Steaks.GroupBy(i => i.SecondSideStartTime))
                {
                    var applySteakRequest = new NotificationRequest
                        {
                            NotificationId = notificationId,
                            Title = $"Steaks ready to be flipped!",
                            Subtitle = $"{string.Join(", ", flipTime.Select(x => x.Name))} is ready to be flipped on the grill",
                            BadgeNumber = 1,
                            Schedule = new NotificationRequestSchedule
                            {
                                NotifyTime = startFrom.AddSeconds(LongestTime - flipTime.Key)
                            }
                        };
                    notificationId++;
                    await LocalNotificationCenter.Current.Show(applySteakRequest);
                }

                var endSteakRequest = new NotificationRequest
                    {
                        NotificationId = notificationId,
                        Title = $"Steaks are done!",
                        BadgeNumber = 1,
                        Schedule = new NotificationRequestSchedule
                        {
                            NotifyTime = startFrom.AddSeconds(LongestTime)
                        }
                    };
                await LocalNotificationCenter.Current.Show(endSteakRequest);

            }

            var recoveryData = new RecoveryData
                {
                    FinishesAt = DateTime.Now.AddSeconds(LongestTime),
                    Steaks = Steaks
                };
            await SecureStorage.Default.SetAsync("ExistingGrillData", JsonSerializer.Serialize(recoveryData));

            Timer = new System.Timers.Timer(1000);
            Timer.Elapsed += CountDownTimer;
            Timer.Enabled = true;
        }
    }

    protected void RemainingToMinuteSecond()
    {
        Minutes = (int)(counter / 60);
        Seconds = (int)(counter % 60);
    }

    public async void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        if (counter > 0)
        {
            counter -= 1;
            ShowSnackbarNotifications();
        }
        else
        {
            Timer.Enabled = false;
            Snackbar.Add("Steaks are done!", Severity.Normal, config => { config.RequireInteraction = false; });
            SecureStorage.Default.Remove("ExistingGrillData");
        }
        RemainingToMinuteSecond();
        await InvokeAsync(StateHasChanged);
    }

    private void ShowSnackbarNotifications()
    {
        foreach (var steak in Steaks.Where(i => i.FirstSideStartTime >= counter && !i.StartNotificationShown))
        {
            steak.StartNotificationShown = true;
            Snackbar.Add($"{steak.Name} ready to be placed!", Severity.Normal, config => { config.RequireInteraction = false; });
        }

        foreach (var steak in Steaks.Where(i => i.SecondSideStartTime >= counter && !i.FlipNotificationShown))
        {
            steak.FlipNotificationShown = true;
            Snackbar.Add($"{steak.Name} ready to be flipped!", Severity.Normal, config => { config.RequireInteraction = false; });
        }
    }

    private void OpenSteakDialog()
    {
        var options = new DialogOptions { DisableBackdropClick = true, FullWidth = true };
        var parameters = new DialogParameters { ["AddSteak"] = OnSteakAdded };
        DialogService.Show<UpsertSteakDialog>("Steak", parameters, options);

    }

    private void OpenStartDialog()
    {
        var options = new DialogOptions { DisableBackdropClick = true, FullWidth = true };
        var parameters = new DialogParameters { ["StartTimer"] = OnTimerStarted, ["SteaksToPlaceAtStart"] = Steaks.Where(i => i.DurationSetting.TotalTime == LongestTime) };
        DialogService.Show<BeginTimerDialog>("Start Grill", parameters, options);
    }

    private async Task HandleSteakRestore(bool restore)
    {
        if (restore)
        {
            Steaks = RecoveryData!.Steaks;
            if(RecoveryData.FinishesAt > DateTime.Now)
            {
                LongestTime = Steaks.Max(x => x.DurationSetting.TotalTime);
                counter = (int)(RecoveryData!.FinishesAt - DateTime.Now).TotalSeconds;
                await StartTimer();
            }
            else
            {   
                UpdateTimingInfo();
                SecureStorage.Default.Remove("ExistingGrillData");
            }

            StateHasChanged();
        }
        else
        {
            SecureStorage.Default.Remove("ExistingGrillData");
        }
    }
}