@using MudBlazor;
@using SteakGrillingGuide.Components
@using SteakGrillingGuide.Data;
@using SteakGrillingGuide.Extensions;
@using Plugin.LocalNotification;
@inject IDialogService DialogService
@inject SteakProvider SteakProvider
@page "/"

<div class="row mb-3 border-bottom border-dark pb-3">
    <div class="col-3">
        <MudButton Variant="Variant.Outlined" Color="Color.Default" Disabled="(Timer != null && Timer.Enabled)" @onclick="OpenSteakDialog">
            <MudIcon Icon="@Icons.Material.Outlined.Add" Title="Add" />
        </MudButton>
    </div>
    <div class="col-6 text-center align-content-center justify-content-center">
        @if (Steaks.Any())
        {
            <div>
                Grill Time: @($"{Minutes:0}:{Seconds:00}")
            </div>
        }
    </div>
    <div class="col-3 text-end">
        <MudButton Variant="Variant.Outlined" Color="Color.Success" Disabled="(Steaks== null || !Steaks.Any() || (Timer != null && Timer.Enabled))" @onclick="OpenStartDialog">
            <MudIcon Icon="@Icons.Material.Outlined.Timer" Title="Timer" />
        </MudButton>
    </div>
</div>
@if (Steaks.Any())
{
    <MudExpansionPanels MultiExpansion="true">
        @foreach (var steak in Steaks)
        {
            <SteakSummary SteakToCook="steak" Counter="counter" LongestTime="LongestTime" />
        }
    </MudExpansionPanels>
}
else
{
    <div>
        No steaks added yet.
    </div>
}


@code {
    protected List<Steaks> Steaks { get; set; } = new();
    protected List<SteakSettings> Settings { get; set; }
    protected double LongestTime { get; set; }
    private int counter { get; set; } = 60;
    private int Minutes { get; set; } = 0;
    private int Seconds { get; set; } = 0;
    private bool IgnoreInfoDialog = false;
    private EventCallback<Steaks> OnSteakAdded { get; set; }
    private EventCallback OnTimerStarted { get; set; }

    private static System.Timers.Timer Timer { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Settings = SteakProvider.SteakSettings;
        OnSteakAdded = new EventCallback<Steaks>(this, (Steaks steak) => HandleSteakAdded(steak));
        OnTimerStarted = new EventCallback(this, () => StartTimer());
        await DisplayInfoDialog();
    }

    private async Task DisplayInfoDialog()
    {
        string GetWarningSet = await SecureStorage.Default.GetAsync("IgnoreInfoDialog");
        if (GetWarningSet != null)
        {
            IgnoreInfoDialog = bool.TryParse(GetWarningSet, out IgnoreInfoDialog);
        }

        if (!IgnoreInfoDialog)
        {
            DialogService.Show<AppInfoDialog>();
        }

    }

    private async Task HandleSteakAdded(Steaks addedSteak)
    {
        if (string.IsNullOrWhiteSpace(addedSteak.Name))
        {
            addedSteak.Name = $"Steak {Steaks.Count + 1}";
        }
        Steaks.Add(addedSteak);
        LongestTime = Steaks.Max(i => i.DurationSetting.TotalTime);
        counter = (int)(LongestTime * 60);
        foreach (var steak in Steaks)
        {
            steak.SetStartTimes(LongestTime);
        }
        RemainingToMinuteSecond();
        StateHasChanged();
    }

    private async Task StartTimer()
    {
        //var verify = await LocalNotificationCenter.Current.AreNotificationsEnabled();
        if (Timer == null || !Timer.Enabled)
        {
            int notificationId = 1;
            double longestInSeconds = LongestTime * 60;
            foreach(var steak in Steaks)
            {
                if(longestInSeconds != steak.FirstSideStartTime)
                {
                    double placeTimeInSeconds = longestInSeconds - steak.FirstSideStartTime;
                    var applySteakRequest = new NotificationRequest
                        {
                            NotificationId = notificationId,
                            Title = $"Place {steak.Name} on grill",
                            Subtitle = $"{steak.Name} is ready to be placed on the grill",
                             BadgeNumber = 1,
                            Schedule = new NotificationRequestSchedule
                            {
                                NotifyTime = DateTime.Now.AddSeconds(placeTimeInSeconds)
                            }
                        };
                    notificationId++;
                    await LocalNotificationCenter.Current.Show(applySteakRequest);
                }

                double flipTimeInSeconds = (LongestTime * 60) - steak.SecondSideStartTime;
                var flipSteakRequest = new NotificationRequest
                    {
                        NotificationId = notificationId,
                        Title = $"Flip {steak.Name} on grill",
                        Subtitle = $"{steak.Name} is ready to be flipped on the grill",
                        BadgeNumber = 1,
                        Schedule = new NotificationRequestSchedule
                        {
                            NotifyTime = DateTime.Now.AddSeconds(flipTimeInSeconds)
                        }
                    };
                notificationId++;
                await LocalNotificationCenter.Current.Show(flipSteakRequest);
            }


            Timer = new System.Timers.Timer(1000);
            Timer.Elapsed += CountDownTimer;
            Timer.Enabled = true;
        }
    }

    protected void RemainingToMinuteSecond()
    {
        Minutes = (int)(counter / 60);
        Seconds = (int)(counter % 60);
    }

    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        if (counter > 0)
        {
            counter -= 1;
        }
        else
        {
            Timer.Enabled = false;
        }
        RemainingToMinuteSecond();
        InvokeAsync(StateHasChanged);
    }

    private void OpenSteakDialog()
    {
        var options = new DialogOptions { DisableBackdropClick = true, FullWidth = true };
        var parameters = new DialogParameters { ["AddSteak"] = OnSteakAdded };
        DialogService.Show<NewSteakDialog>("Add Steak", parameters, options);
    }

    private void OpenStartDialog()
    {
        var options = new DialogOptions { DisableBackdropClick = true, FullWidth = true };
        var parameters = new DialogParameters { ["StartTimer"] = OnTimerStarted, ["SteaksToPlaceAtStart"] = Steaks.Where(i => i.DurationSetting.TotalTime == LongestTime) };
        DialogService.Show<BeginTimerDialog>("Start Grill", parameters, options);
    }
}