@page "/"
@using MudBlazor;
@using SteakGrillingGuide.Components

<div class="row mb-3 border-bottom border-dark pb-3">
    <div class="col-3">
        <MudButton Variant="Variant.Outlined" Color="Color.Default" Disabled="(Timer != null && Timer.Enabled)" @onclick="OpenSteakDialog">
            <MudIcon Icon="@Icons.Material.Outlined.Add" Title="Add" />
        </MudButton>
    </div>
    <div class="col-6 text-center align-content-center justify-content-center">
        @if (Steaks.Any())
        {
            if (StartAt.HasValue && FinishAt.HasValue)
            {
                var totalSeconds = (FinishAt.Value - DateTime.Now).TotalSeconds;
                <div>
                    Grill Time: @($"{(int)totalSeconds / 60:0}:{(int)totalSeconds % 60:00}")
                </div>
            }
            else
            {
                <div>
                    Grill Time: @($"{(int)LongestTime / 60:0}:{(int)LongestTime % 60:00}")
                </div>
            }
        }
    </div>
    <div class="col-3 text-end">
        <MudButton Variant="Variant.Outlined" Color="Color.Success" Disabled="(Steaks== null || !Steaks.Any() || (Timer != null && Timer.Enabled))" @onclick="OpenStartDialog">
            <MudIcon Icon="@Icons.Material.Outlined.Timer" Title="Timer" />
        </MudButton>
    </div>
</div>
@if (Steaks.Any())
{
    <MudExpansionPanels MultiExpansion="true">
        @foreach (var steak in Steaks)
        {
            <SteakSummary SteakToCook="steak" LongestTime="LongestTime" StartTime="StartAt" EditSteak="OnSteakEdited" DeleteSteak="OnSteakDeleted" />
        }
    </MudExpansionPanels>
}
else
{
    <div>
        No steaks added yet.
    </div>
}