@using MudBlazor;
@using SteakGrillingGuide.Extensions;

<MudDialog>
    <DialogContent>
        @if (!NotificationsEnabled)
        {
            <div class="fw-bold text-danger mb-2">
                You do not have notifications enabled, this must be enabled to begin the timer.
            </div>
        }
        <div class="fw-bold">
            You are about to start the timer for your steaks. Be sure your steaks and grill are ready. 
            When ready, place the following steaks on the grill and hit start.
            <br/>
            <br/>
            <div class="text-danger">
                Do not leave your grill unattended while steaks are being cooked. You will be notified when changes need made, but you must monitor the grill and steaks at all times.
            </div>
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var steak in SteaksToPlaceAtStart)
            {
                <li class="list-group-item">
                    <div>
                        @steak.Name
                        <br/>
                        @steak.CookingStyle.GetCookingStyleName() - @($"{steak.Thickness}\"")
                    </div>
                </li>
            }
        </ul>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Variant="Variant.Outlined">Cancel</MudButton>
        <MudButton Disabled="@(!NotificationsEnabled)" Variant="Variant.Outlined" Color="Color.Success" OnClick="Submit">Start!</MudButton>
    </DialogActions>
</MudDialog>
