@using MudBlazor;
@inject IDialogService DialogService

<div class="ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="navbar-brand">Steak Grilling Guide</div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <div class="nav-link" @onclick="DisplayAboutUs">
                <span class="oi oi-home" aria-hidden="true"></span> About Us
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void DisplayAboutUs()
    {
        var options = new DialogOptions { DisableBackdropClick = true, FullWidth = true };
        DialogService.Show<AboutUsDialog>("About Us", options);
    }
}
