@using MudBlazor;
@inject IDialogService DialogService

<div class="ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="navbar-brand">Steak Grilling Guide</div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <div class="navbar-text text-white text-end me-4" @onclick="DisplayAboutDialog">
                <MudIcon Class="me-3" Icon="@Icons.Material.Filled.Info" Title="Info" />About Steak Grilling Guide
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
     
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void DisplayAboutDialog()
    {
        var options = new DialogOptions { DisableBackdropClick = true, FullWidth = true };
        DialogService.Show<AboutDialog>("About", options);
    }
}
