@using MudBlazor;
@using SteakGrillingGuide.Data;
@using SteakGrillingGuide.Extensions;
@using EnumsNET;


<MudDialog>
    <DialogContent>
        @if (Thicknesses == null)
        {
            <div>Processing....</div>
        }
        else
        {
            @if (!IsValid)
            {
                <div class="alert alert-danger">
                    Thickness and Center Cook must have a value.
                </div>
            }
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name (Optional)</label>
                <input @bind-value="Steak.Name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name (Optional)">
            </div>
            <div class="mb-3">
                <MudSelect Label="Thickness" @bind-Value="@Thickness" T="double?" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    @foreach (var thickness in Thicknesses)
                    {
                        <MudSelectItem T="double?" Value="thickness"/>
                    }
                </MudSelect>
            </div>

            <div class="mb-3">
                <MudSelect @bind-Value="@CenterCook" Label="Center Cook" T="int?" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    @foreach (var style in Enum.GetValues(typeof(CookingStyle)))
                    {
                        <MudSelectItem T="int?" Value="(int)style">@(((CookingStyle)style).GetCookingStyleName())</MudSelectItem>
                    }
                </MudSelect>
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Variant="Variant.Outlined">Cancel</MudButton>
        <MudButton Color="Color.Success" Variant="Variant.Outlined" OnClick="Submit">Add</MudButton>
    </DialogActions>
</MudDialog>


